<%- include('./partials/header') %>

<main>
  <!-- Header Starts Here -->
  <header class="bg-gray-900 pattern">
    <!-- Hero Section With Video -->
    <div class="container flex flex-col px-6 py-10 mx-auto space-y-6 lg:h-128 lg:py-16 lg:flex-row lg:items-center lg:space-x-6">
        <div class="w-full lg:w-3/5">
          <div class="lg:mx-6 text-white">
            <h1 class="my-2 text-shadow-xl font-medium font-mono tracking-tighter text-center md:text-left capitalize  text-3xl md:text-3xl lg:text-6xl lg:animate-pulse">
              <span class="space-x-5">Where creativity earns</span>
            </h1> 

            <span class="font-normal italic font-mono tracking-tighter text-center md:text-left capitalize text-xl md:text-3xl lg:text-xl">
              Get a community that values your art and is willing to pay for it.
            </span>

            <button class="px-2 py-2 my-3 ml-6 text-xxs md:m-0 md:text-lg lg:px-8 lg:py-3 lg:my-7 lg:text-xl bg-transparent border border-solid border-white hover:bg-gray-900 hover:text-red-600 font-bold capitalize rounded outline-none focus:outline-none" type="button">
                <a href="">join the circul</a>
            </button>  
          </div>
        </div>

        <div class="flex items-center justify-center w-full h-96 lg:w-2/5">
            <img class="object-cover w-full h-full max-w-2xl rounded-md" src="https://images.unsplash.com/photo-1555181126-cf46a03827c0?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80" alt="glasses photo">
        </div>
    </div>

    <!-- Pictures rows -->
    <div class="container flex flex-col px-6 py-10 mx-auto space-y-6 lg:h-128 lg:py-16 lg:flex-row lg:items-center lg:space-x-6">
      <div class="w-full lg:w-3/5">
        <section class="container p-6 mx-auto bg-white dark:bg-gray-800">
          <h2 class="text-xl font-medium text-gray-800 capitalize dark:text-white md:text-2xl">Our Team</h2>
  
          <div class="flex items-center justify-center">
              <div class="grid gap-8 mt-8 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4">
                  <div class="w-full max-w-xs text-center">
                      <img class="object-cover object-center w-full h-48 mx-auto rounded-lg" src="https://images.unsplash.com/photo-1493863641943-9b68992a8d07?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=739&q=80" alt="avatar"/>
  
                      <div class="mt-2">
                          <h3 class="text-lg font-medium text-gray-700 dark:text-gray-200">Ahmed Omer</h3>
                          <span class="mt-1 font-medium text-gray-600 dark:text-gray-300">CEO</span>
                      </div>
                  </div>
  
                  <div class="w-full max-w-xs text-center">
                      <img class="object-cover object-center w-full h-48 mx-auto rounded-lg" src="https://images.unsplash.com/photo-1516756587022-7891ad56a8cd?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=334&q=80" alt="avatar"/>
  
                      <div class="mt-2">
                          <h3 class="text-lg font-medium text-gray-700 dark:text-gray-200">Jane Doe</h3>
                          <span class="mt-1 font-medium text-gray-600 dark:text-gray-300">Co-founder</span>
                      </div>
                  </div>
  
                  <div class="w-full max-w-xs text-center">
                      <img class="object-cover object-center w-full h-48 mx-auto rounded-lg" src="https://images.unsplash.com/photo-1492562080023-ab3db95bfbce?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=731&q=80" alt="avatar"/>
  
                      <div class="mt-2">
                          <h3 class="text-lg font-medium text-gray-700 dark:text-gray-200">Steve Ben</h3>
                          <span class="mt-1 font-medium text-gray-600 dark:text-gray-300">UI/UX</span>
                      </div>
                  </div>
  
                  <div class="w-full max-w-xs text-center">
                      <img class="object-cover object-center w-full h-48 mx-auto rounded-lg" src="https://images.unsplash.com/photo-1517841905240-472988babdf9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=334&q=80" alt="avatar"/>
  
                      <div class="mt-2">
                          <h3 class="text-lg font-medium text-gray-700 dark:text-gray-200">Patterson Johnson</h3>
                          <span class="mt-1 font-medium text-gray-600 dark:text-gray-300">Software Engineer</span>
                      </div>
                  </div>
              </div>
          </div>
        </section>
      </div>
    </div>
  </header>
  <!-- Header Ends Here -->

</main>


<%- include('./partials/footer') %>

