<%- include('./partials/header') %>

<main>
    <!-- Hero Section With Video -->
    <div class="bg-yellow-200">
        <div class="bg-yellow-200 bg-opacity-50 w-full">
            <div class="lg:flex items-center py-14 px-6 md:py-18 lg:mx-20 lg:px-10 h-auto lg:h-screen">
                <div class="space-y-4 md:space-y-2">
                    <h1 class="lg:text-shadow-lg text-black font-bold font-rubik tracking-tighter text-center lg:text-left capitalize text-5xl md:text-6xl lg:text-7xl xl:text-8xl">
                        Where creativity earns
                    </h1> 
                        
                    <p class="text-gray-900 tracking-tighter font-semibold text-center lg:text-left text-2xl lg:text-3xl font-arimo">
                        Get a community that values your art and is willing to pay for it
                    </p>
    
                    <!-- Lg breakpoint -->
                    <div class="hidden lg:flex lg:flex-row">
                        <a href="#sign-up" class="block my-6 md:my-8 lg:my-12 py-3 lg:px-12 text-2xl font-extrabold text-center text-yellow-500 bg-white rounded-3xl">Join The Circul</a>
                    </div>

                    <!-- Sm-lg breakpoint -->
                    <div class="flex lg:hidden items-center justify-center">
                        <a href="#sign-up" class="px-6 md:px-10 py-2 md:py-4 my-6 text-xl md:text-2xl font-extrabold text-center rounded-3xl text-yellow-500 bg-white hover:bg-gray-900 ">
                           Join The Circul
                        </a>    
                    </div>
                </div>
            </div>
        </div>    
    </div>
    <!-- Hero section ends here -->

    <!-- What's Circul Starts Here -->
    <div id="about" class="flex flex-col px-6 py-10 mx-auto h-auto lg:min-h-full lg:py-16 lg:flex-row bg-black">
        <div class="w-full">
            <div class="space-y-10">
                <h1 class="font-extrabold text-center text-white text-3xl md:text-4xl lg:text-5xl tracking-tighter font-rubik">
                    What's Circul?
                </h1> 

                <div class="max-w-2xl text-center mx-auto text-white text-2xl">
                    <ul class="space-y-3">
                        <li>
                            What if everyday creators could focus on creating full-time without being afraid of how they will earn regularly?
                        </li>
                        <li>    
                            Imagine a world where everyday people want to become full-time creators because they know they can make a good living from it? 
                        </li>
                        <li class="italic font-medium">
                            This is why Circul exists! 
                        </li>
                        <li>
                            We're enabling creators to do their best work and build meaningful careers in the process. 
                        </li>
                    </ul>
                </div>


                <section class="container p-6 mx-auto">
                    <div class="hidden lg:flex items-center justify-center">
                        <div class="grid gap-8 my-8 sm:grid-cols-2 lg:grid-cols-4 xl:grid-cols-4">
                            <div class="w-full max-w-xs text-center">
                                <img class="object-cover object-center w-full h-48 mx-auto rounded-lg" src="https://lh3.googleusercontent.com/ybJZOHBtaF_mZx7iWZ2z3YKOwzaJpooCXjP4jWGmqapwuryVxiZ7i4tcHlTOZctm4VhGD6AAQaUmU7gBjZJaFF1K6iU3qgdsqk6oHkEP-wu0n5Gcjte1mTtTqucdOn9jZC-getHyJg=w2400" alt="avatar"/>
                            </div>
            
                            <div class="w-full max-w-xs text-center">
                                <img class="object-cover object-center w-full h-48 mx-auto rounded-lg" src="https://lh3.googleusercontent.com/JtomQKLWDIM6pGOMgcYqRF9AlZIPAO3yQZoHRbx9Z87_ufx5bb5-VemJfVjXTj5xNMwe6ba49nKLepwTX2fNJQIJUtH1CV_jmnUWrd4Lj0_nykfcJNduGHowYHpfPuR6aWxV4WTAfA=w2400" alt="avatar"/>
                            </div>
            
                            <div class="w-full max-w-xs text-center">
                                <img class="object-cover object-center w-full h-48 mx-auto rounded-lg" src="https://lh3.googleusercontent.com/WWZKE51KTGeoXjMB1Ccm3NMNH7b0SPV-NZmzS4uscWKklG9PDkMdIrRfApIi9D19L6h3nS_4XbjbwBclXPTj_MYRQ_JRHsS-vJ9hQVL1FISV5ppQHjs6BmjQxk4UoxuagZln6QBAeQ=w2400" alt="avatar"/>
                            </div>
            
                            <div class="w-full max-w-xs text-center">
                                <img class="object-cover object-center w-full h-48 mx-auto rounded-lg" src="https://lh3.googleusercontent.com/uU26qRTtjvVCNZ8Q16TA5AOGeGXkzoZWNllOmnxP0rP2IucUW_80SxhyoQ6QfD-Q5T8ke4-iL5Hc0s5bOMkK1TK3377FRcUX4g-a1b6qeXDiYvSoFA3ewZdfGEBudC5fqiTh_qmwiw=w2400" alt="avatar"/>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
    <!-- What's Circul Ends Here -->


    <!-- Features Starts Here -->
    <section id="features" class="py-10 space-y-11 bg-yellow-200 h-auto lg:h-screen">
      <h1 class="pt-6 font-extrabold text-3xl md:text-5xl text-center tracking-tighter text-black font-rubik">
          Why Choose Circul?
      </h1>

      <div class="container mx-auto px-8 py-4 lg:py-8">
            <div class="grid gap-6 grid-cols-1 md:grid-cols-3 lg:grid-cols-3 text-xl">
                <!-- Circul Halal -->
                    <div class="p-9 bg-gray-200 rounded-2xl font-arimo">              
                        <h1 class="font-bold text-2xl text-center font-rubik">
                            Circul Hála
                        </h1>

                        <p class="font-semibold text-center">
                            Be appreciated by the people who love your work
                        </p>

                        <div class="text-center space-y-3 mt-5">
                            <p>
                                We know that the likes, comments and shares are encouraging, no doubt. But what if you received comments with credit alerts? 
                            </p>

                            <p>
                                Let your fans say,   <span class="italic">"thank you"</span>,  <span class="italic">“I love your work!”</span> or <span class="italic">“your last post was so inspiring”</span> with a tip. 
                            </p>

                            <p>
                                Oh by the way, <span class="italic">hála</span> means “gratitude” in Hungarian!
                            </p>
                        </div>
                    </div>
                    
                    <!-- Circul Fundr-->
                    <div class="p-9 bg-gray-200 rounded-2xl font-arimo">
                        <h1 class="font-bold text-2xl text-center font-rubik">
                            Circul Fundr
                        </h1>

                        <p class="font-semibold text-center">
                            Crowdfund your next project or the one(s) you’ve put on hold
                        </p>
        
                        <div class="text-center space-y-3 mt-5">
                            <p>
                                A short film, a music album, a spoken word concert? Name it. 
                            </p>

                            <p>
                                We know what it feels like to have a brilliant idea but lack the funds to execute. So why not get your circul to bring your brilliant ideas to life?

                            </p>

                            <p>
                                They want to see it happen just as much as you do!
                            </p>
                        </div>
                    </div>
        
                    <!-- Circul Only -->
                    <div class="p-9 bg-gray-200 rounded-2xl font-arimo">
                        <h1 class="font-bold text-2xl text-center font-rubik">
                            My Circul Only
                        </h1>

                        <p class="font-semibold text-center">
                            Connect with the people that really love what you do
                        </p>
                        
                        <div class="text-center space-y-3 mt-5">
                            <p>
                                You’ll get to know the people who really value you and the work you do. 
                            </p>

                            <p>
                                You can build great relationships with them.  
                            </p>

                            <p>
                                And you can keep them engaged with exclusive content they’re ready to pay you for.
                            </p>
                        </div>
                    </div>
            </div>
      </div>
    </section>
    <!-- Features Ends Here -->

    <!-- Join the waitlist -->
    <section id="sign-up" class="min-h-full bg-black text-white py-20 space-y-6">
        <h1 class="font-extrabold text-3xl md:text-5xl text-center font-rubik">Join The Waitlist</h1>

        <div>
            <div class="max-w-2xl mx-auto text-md text-center">
                <p class="text-xl md:text-2xl font-arimo">
                    Sign up to get early access to the Circul
                </p>
            </div>

            <div class="flex items-center justify-center mt-8">
                <a href="#" class="px-5 py-2 text-lg font-semibold text-center rounded-md text-yellow-200 bg-transparent border border-solid border-yellow-400 hover:bg-gray-900">
                   Yes, I Want In!
                </a>    
            </div>
        </div>
    </section>
    <!-- Join The Waotlist Ends Here -->

    <!-- Share Circul -->
    <section id="share" class="h-auto md:min-h-full bg-yellow-100 py-10 lg:py-20">
        <h1 class="font-extrabold text-3xl md:text-5xl text-center font-rubik ">
            Share Circul
        </h1>
    
        <div class="px-8 py-6">
            <div class="max-w-2xl mx-auto text-md text-center">
                <p class="text-xl md:text-2xl font-arimo">
                    Tell your BFF to tell their cousin!
                </p>
            </div>
        </div>

        <div class="flex items-center justify-center mt-8">
            <a href="#" class="px-5 py-2 text-lg font-bold text-center rounded-md text-blue-violet bg-transparent border border-solid border-blue-violet hover:bg-yellow-300">
                Retweet Now
            </a>    
        </div>
    </section>
    <!-- Share Circul Ends Here -->

    <!-- Contact Starts Here-->
    <div id="contact" class="lg:h-auto px-6 py-24 mx-auto text-white bg-black font-rubik">
        <!-- Lg breakpoint -->
        <div class="hidden lg:flex ml-24">
            <div class="w-full lg:w-1/3">
                <div class="lg:max-w-lg">
                    <div class="bg-yellow-">
                        <a href="/" class="font-extrabold text-shadow-purple text-white">
                            <img class="bg-yellow-200" width="70" height="80" src="https://lh3.googleusercontent.com/Q0jQI5PjAduLGa1lxP13sGAwBElHxOAug-pOwLYXA0tYy8y4IOVn3AINRj5VLKySfO_hEylyIEPwFRA8HWRsUPAqrhX7wiYVb-2QAu0cZewO_XJiCM0M6jQ4qRhKjgLfOj7XN1jo7Q=w2400" alt="">
                        </a>    
                    </div>

                    <div class="mt-10">
                        <ul class="space-y-1">
                            <li class="font-extrabold text-3xl md:text-5xl hover:text-yellow-400">
                                <a href="/">Home</a>
                            </li>

                            <li class="font-extrabold text-3xl md:text-5xl hover:text-yellow-400">
                                <a href="#about">About</a>
                            </li>

                            <li class="font-extrabold text-3xl md:text-5xl hover:text-yellow-400">
                                <a href="#features">Features</a>
                            </li>

                            <li class="font-extrabold text-3xl md:text-5xl hover:text-yellow-400">
                                <a href="#sign-up">Sign Up</a>
                            </li>
                        </ul>

                        <p class="mt-32">
                            © Copyright 2021. Circul
                        </p>
                    </div>
                </div>
            </div>
    
            <div class="w-full lg:w-2/3 mx-36">
                <div class="w-full">
                    <h1 class="font-extrabold text-5xl tracking-tighter">Want To Get In Touch?</h1>
    
                    <ul class="text-3xl mt-10 font-bold space-y-14">
                       <li>
                           Email: <span class="hover:text-yellow-400">circulafrica@gmail.com</span>
                       </li>
                       <li>
                           Call Us: <span class="hover:text-yellow-400">+2347050917570 or +2348123863559</span>
                       </li>
                       <li class="space-x-5">
                           <span class="hover:underline hover:text-yellow-400">
                                <a href="">Twitter</a>
                           </span>
                           <span class="hover:underline hover:text-yellow-400">
                                <a href="https://www.instagram.com/circulafrica/?utm_medium=copy_link">Instagram</a>
                           </span>
                       </li>
                    </ul>
                </div>
            </div>
        </div>

        <!-- Sm-md breakpoint -->
        <div class="w-full text-center lg:hidden">
            <h1 class="font-extrabold text-3xl md:text-5xl tracking-tighter">Want To Get In Touch?</h1>

            <ul class="text-2xl mt-10 font-bold space-y-14">
               <li>
                   Email: <span class="hover:text-yellow-400">circulafrica@gmail.com</span>
               </li>
               <li>
                   Call Us: <span class="hover:text-yellow-400">+2347050917570 or +2348123863559</span>
               </li>
               <li class="space-x-5">
                   <span class="hover:underline hover:text-yellow-400">
                        <a href="">Twitter</a>
                   </span>
                   <span class="hover:underline hover:text-yellow-400">
                        <a href="https://www.instagram.com/circulafrica/?utm_medium=copy_link">Instagram</a>
                   </span>
               </li>
            </ul>

            <p class="mt-32">
                © Copyright 2021. Circul
            </p>
        </div>

    </div>
    <!-- Contact Ends Here -->
  
</main>


<%- include('./partials/footer') %>

